/**Global CSS file**/

*, ::before, ::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Metropolis, "Helvetica Neue", Helvetica, Arial;
}

/** Css color and font weight variables **/
:root{
    --primary-color: #FFF;
    --secondary-color: #000000;
    --teritiary-color: #0FC1B7;
    --font-weight-primary: 400;
    --font-weight-secondary: 600;
    --font-weight-teritiary: 700;
}


/** Utility classes **/
.color-white{
    color: var(--primary-color)
}

.color-black{
    color: var(--secondary-color)
}

.color-ltgrey{
    color: #F6F8FB;
}

.color-dgrey{
    color: #485776; 
}

.color-green{
    color:var(--teritiary-color);
}

.font-regular{
    font-weight: 400;
}

.font-semibold{
    font-weight: 600;
}

.font-bold{
    font-weight:700;
}

.font-large{
    font-size: 36px;
}

.font-small{
    font-size: 16px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.grid{
    display: grid;
}

.section-heading{
    line-height: 35px;
    letter-spacing: -1px;
}
